<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% include 'partials/metadata.html.twig' %} {#  what is this? #}

        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% endblock head%}

        {% block stylesheets %}
            {% do assets.addCss('theme://css-compiled/main.css') %}
        {% endblock %}

    {% block javascripts %}
        {# {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %} #}

        <script src="./user/themes/josh/node_modules/jquery/dist/jquery.min.js"></script>

    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

    </head>

    <body class="{{ page.header.body_class }} flex flex-col leading-tight tracking-normal text-gray-700 min-h-screen">
        {% block header %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

         {% block hero %}{% endblock %}

        {% block body %}
            <div class="flex-1">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

       

        {# {{ assets.js()|raw }}
        {{ assets.js('bottom')|raw }} #}

        {% if site.matomo.enabled %}
            {% include 'partials/matomo.html.twig' %}
        {% endif %}

        {% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

    </body>
</html>
