                <div class="tile-pic pb-3 w-full">
                        <a href="{{ child.url }}"><img src="{{ image.url }}"></a>
                    </div>
                    <div class="tile-info flex flex-col">
                        <div class="lg:text-2xl text-black text-1xl bold pb-5 pt-3 flex-1 antialiased">
                            {% if child.summary != child.content %}
                            {{ child.summary|raw }}{# {{child.header.packerytilewidth|raw}} #}
                            {% else %}
                            {{ child.content|raw }}
                            {% endif %}
                        </div>
                    </div>